<ion-view view-title="About GoWash.me">
  <ion-nav-buttons side="left">
    <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
    </button>
  </ion-nav-buttons>
  <ion-content>
    <div class="padding">

    <p class="padding">GoWash.Me is here to save you time. We got our start in 2009 washing cars for employees on the Microsoft campus in Redmond, WA. We quickly learned that our clients do really cool stuff when they aren't at the office and washing their car wasn't on the list. Working with such a busy and tech savvy crowd inspired us to develop the time saving amenity that is GoWash.Me. After combining top tier car care products and techniques with the scheduling and payment convenience of mobile apps, we are taking our show on the road. Our fleet of electric and biodiesel vehicles will come to your office while you're working and service your ride while you save the world, or watch cat videos, we don't judge.<br />
      GoWash.Me is currently extending its service to select businesses. If you think we'd be a nice addition to your workplace let us know. We'd love to save your time and make you shine!</p>
      <a class="button button-block button-dark" href="mailto:ops@gowash.me">Send Email</a>
      <a class="button button-block button-dark" href="tel:4255580831">Call Us</a>
    </div>
  </ion-content>
</ion-view>
