<ion-view view-title="Change Password" cache-view="false">
  <form name="form" novalidate="" ng-submit="updatePassword(form)">
  <ion-content style="background-image:url('img/greyzz.png')">

    <div class="padding">
      <div class="list" style="background:#FFF;">
        <!--label class="item item-input item-stacked-label">
          <span class="input-label">Current Password</span>
          <input type="text" placeholder="">
        </label-->
        <label class="item item-input item-stacked-label" ng-class="{ 'has-errors' : form.$submitted && form.password.$invalid, 'no-errors' : form.$submitted && form.password.$valid}">
          <span class="input-label">New Password</span>
          <input type="password" name="password" ng-minlength="6" ng-model="userInfo.password" required>
        </label>
        <div class="error-container" ng-show="form.$submitted && form.password.$error" ng-messages="form.password.$error">
          <div class="error" ng-message="minlength"><i class="ion-information-circled"></i> Your password is too short</div>
          <div class="error" ng-message="match"><i class="ion-information-circled"></i> Your two passwords did not match</div>
          <div ng-messages-include="error-list.html"></div>
        </div>
        <label class="item item-input item-stacked-label" ng-class="{ 'has-errors' : form.$submitted && form.passwordConfirm.$invalid, 'no-errors' : form.$submitted && form.passwordConfirm.$valid}">
          <span class="input-label">Confirm New Password</span>
          <input type="password" name="passwordConfirm" ng-model="userInfo.passwordConfirm" match="userInfo.password" required>
        </label>
        <div class="error-container" ng-show="form.$submitted && form.passwordConfirm.$error" ng-messages="form.passwordConfirm.$error">
          <div class="error" ng-message="match"><i class="ion-information-circled"></i> Your two passwords did not match</div>
          <div ng-messages-include="error-list.html"></div>
        </div>
      </div>
      <button class="button button-block button-dark">UPDATE</button>
    </div>
  </ion-content>
  </form>
</ion-view>
