<ion-view view-title="How can we help?">

  <ion-content style="background-image:url('img/greyzz.png')">

<div class="padding">
  <h4>Vehicle Types We Service</h4>
    <p class="padding">GoWash.Me is a workplace based booking service, and we service cars, trucks, motorcycles, SUVs and fleet vehicles.<br />
    For the greater Eastside and Seattle area our services are fulfilled by the <a href="https://www.redmondautosalon.com">Redmond Auto Salon</a>. They can come to your house (or anywhere else) and get you shined up 7 days a week. They are experts in marine detailing and can clean up just about anything.  They even do jets! Just shoot them a call or e-mail. </p>
    <a class="button button-dark button-block" href="mailto:ops@gowash.me">E-mail Us</a>
    <a class="button button-dark button-block" href="tel:4255580831">Call Us</a>
</div>


  </ion-content>
</ion-view>
