<ion-view view-title="How can we help?">
    
  <ion-content style="background-image:url('img/greyzz.png')">

<div class="padding">
  <h4>Trouble Booking in App or Online</h4>
    <p class="padding">We're very sorry for the inconvenience. We are new and working on clearing our bugs. We want to help you out ASAP so shoot us a call or email and we will take care of you right away. </p>
    <a class="button button-dark button-block" href="mailto:ops@gowash.me">E-mail Us</a>
    <a class="button button-dark button-block" href="tel:4255580831">Call Us</a>
</div>


  </ion-content>
</ion-view>
