<ion-view view-title="How can we help?">

  <ion-content style="background-image:url('img/greyzz.png')">

<div class="padding">
  <h4>What if it's raining?</h4>
    <p class="padding">It's your call. Born and bred in the Pacific Northwest, we have no problem working in the rain. If we are doing a service that includes buffing, waxing or interior work we will move your car to a covered location on the premises. Otherwise email or call us to reschedule.</p>
    <a class="button button-block button-dark" href="mailto:ops@gowash.me">Send Email</a>
    <a class="button button-block button-dark" href="tel:4255580831">Call Us</a>
</div>


  </ion-content>
</ion-view>
