<ion-view view-title="How can we help?">
    
  <ion-content style="background-image:url('img/greyzz.png')">

<div class="padding">
  <h4>Off Site Cleaning Services</h4>
    <p>GoWash.Me is a workplace based booking service. However, for the greater Eastside and Seattle area our services are fulfilled by the <a href="https://www.redmondautosalon.com/">Redmond Auto Salon</a>. They can come to your house (or anywhere else) and get you shined up 7 days a week. Just shoot them a call by tapping the button below.</p>
    <div style="padding"><a class="button button-block button-dark" href="tel:4252242450">Call Redmond Auto Salon</a></div>
</div>


  </ion-content>
</ion-view>
