<ion-view view-title="How can we help?">

  <ion-content style="background-image:url('img/greyzz.png')">

<div class="padding">
  <h4>App Feedback</h4>
    <p class="padding"> You are our customer and your satisfaction are our highest priority. Our techs have a ton of experience getting bugs off your windshield but our apps are new and we are working to clean up those bugs too. If there is an issue with the app, website or the service you receive please let us know. We also love to hear from you when you're stoked and want to throw us a virtual High 5! We won't leave you hanging.<br>

    <span class="redText">Gowash.Me has a 100% satisfaction guarantee.</span><br>

    Any issues will be addressed immediately and we will do whatever it takes to ensure you love our service and you love your car.<br>

     Please watch for updates of the GoWash.Me app as we are constantly working to tune its performance.<br>

    Your feedback is invaluable to us and greatly appreciated.</p>
    <a class="button button-block button-dark" href="mailto:ops@gowash.me">Send Email</a>
    <a class="button button-block button-dark" href="tel:4255580831">Call Us</a>
</div>


  </ion-content>
</ion-view>
