<ion-view view-title="How can we help?">

  <ion-content style="background-image:url('img/greyzz.png')">

<div class="padding">
  <h4>Bringing GoWash.Me to Your Business</h4>
    <p class="padding">Gowash.Me is a Car Wash &amp; Detailing Service exclusive to the employees of companies registered with us. We are currently extending our service to select businesses. If you think we'd be a nice addition to your worlplace let us know. We'd love to save you time and make you shine! Make sure and include your location and any additional information or contacts.</p>
    <a class="button button-block button-dark" href="mailto:ops@gowash.me">Send Email</a>
    <a class="button button-block button-dark" href="tel:4255580831">Call Us</a>
</div>


  </ion-content>
</ion-view>
