<ion-view view-title="How can we help?">
    
  <ion-content style="background-image:url('img/greyzz.png')">

<div class="padding">
  <h4>What if you can't wash my car where it's parked?</h4>
    <p>We always try to service your vehicle where you park it. However, if the spot is too tight or it is raining we may move your car to a better location on the premises.  When were done we will do our best to return your car to its original spot or as close as we can, then let you know where to find it (hint; It's the shiny one). Our detailing techs are fully insured so you can rest assured that your car is in good hands.</p>
</div>


  </ion-content>
</ion-view>
