<ion-view view-title="How can we help?">

  <ion-content style="background-image:url('img/greyzz.png')">

<div class="padding">
  <h4>Who is washing my car?</h4>
    <p class="padding">For the Seattle area and Greater Eastside our services are fulfilled by the <a href="https://www.redmondautosalon.com/">Redmond Auto Salon</a>.They have been providing top tier car wash and detailing services to Microsoft employees on the Redmond campus since 2009. Redmond Auto Salon's detailing techs are car care artisans and have undergone extensive training and security clearance. Plus they are all really nice guys!</p>
</div>


  </ion-content>
</ion-view>
