<ion-view view-title="How can we help?">
        <ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
        </button>
      </ion-nav-buttons>
  <ion-content style="background-image:url('img/greyzz.png')">

<div class="padding">
  <h4>How to reschedule or cancel</h4>
    <p class="padding">Email or call us and we'll get you sorted out.</p>
    <a class="button button-dark button-block" href="mailto:ops@gowash.me">E-mail Us</a>
    <a class="button button-dark button-block" href="tel:4255580831">Call Us</a>

</div>


  </ion-content>
</ion-view>
