<ion-view view-title="How can we help?">
  <ion-nav-buttons side="left">
    <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
    </button>
  </ion-nav-buttons>
  <ion-content style="background-image:url('img/greyzz.png')">
  <!--  <div class="padding">
    <h3>Have a question?</h3>
    <p>Please search the FAQs for an immediate answer to your question. If you still need assistance, please submit a ticket (only once) using the submit ticket form below. We are available Monday through Friday, and will usually respond to you within 24 hours.</p>

      <div class="list list-inset">
        <label class="item item-input">
   <textarea placeholder="Question or comment" style="padding:10px 0;"></textarea>
 </label>
  <label class="item item-input">
    <input type="text" placeholder="Name">
  </label>
  <label class="item item-input">
    <input type="text" placeholder="E-mail or Phone Number">
  </label>
  <label class="item item-input item-select">
      <div class="input-label">
        Subject
      </div>
      <select>
        <option selected>Service Request</option>
        <option>App Feedback</option>
        <option>Other Contact</option>
      </select>
    </label>
  <button class="button button-block button-stable">SUBMIT</button>
</div>
    </div> -->

    <div class="list list-inset">
      <a class="item" href="#/app/faq-contactUs">
        Contact Us
      </a>
      <a class="item" href="#/app/faq-appFeedback">
        App Feedback
      </a>
      <a class="item" href="#/app/faq-bring">
        Bring GoWash.Me to My Work
      </a>
      <a class="item" href="#/app/faq-troubleBooking">
        Trouble Booking an Appointment
      </a>
      <a class="item" href="#/app/faq-addingServices">
        Adding Services
      </a>
      <a class="item" href="#/app/faq-offsite">
        Off-site Cleaning
      </a>
      <a class="item" href="#/app/faq-vehicleTypes">
        Vehicle Types
      </a>
      <a class="item" href="#/app/faq-rescheduleCancel">
        Reschedule / Cancel
      </a>
      <a class="item" href="#/app/faq-Weather">
        Weather Conditions
      </a>
      <a class="item" href="#/app/faq-giftCards">
        Gift cards
      </a>
      <a class="item" href="#/app/faq-whoIs">
        Who is Cleaning My Car?
      </a>
      <a class="item" href="#/app/faq-ParkingLocation">
        Parking Location Issue
      </a>

    </div>




  </ion-content>
</ion-view>
