<ion-view view-title="Change Password" cache-view="false">
        <ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
        </button>
      </ion-nav-buttons>
  <form name="form" novalidate="" ng-submit="resetPassword(form)">
  <ion-content style="background-image:url('img/greyzz.png')">
    <div class="padding">
      <div class="list" style="background:#FFF;">
        <label class="item item-input item-stacked-label" ng-class="{ 'has-errors' : form.$submitted && form.email.$invalid, 'no-errors' : form.$submitted && form.email.$valid}">
          <span class="input-label">E-mail Address</span>
          <input type="email" name="email" ng-model="signInData.email" required>
        </label>
        <div class="error-container" ng-show="form.$submitted && form.email.$error" ng-messages="form.email.$error">
          <div ng-messages-include="error-list.html"></div>
        </div>
      </div>
      <button type="submit" class="button button-block button-dark">Reset Password by Email</button>
    </div>
  </ion-content>
  </form>
</ion-view>
