<ion-view view-title="Home" hide-nav-bar="true" style="background-color:#000; background:url('img/bg0.jpg'); background-size:cover;">
  <ion-content has-header="false" style="">
  </ion-content>
  <ion-footer-bar class="bar-clear footer-clear" style="margin:0 auto; text-align:center; display:block; height:200px; background:rgba(0,0,0,.5);  ">
    <div class="padding">
      <img src="img/mobile-logo.png" style="margin-bottom:20px;">
      <div class="button-bar bar-clear">
        <a href="#/app/signin" class="button button-dark" style="height:50px; margin:5px; padding:10px; border-radius:5px; border:1px solid #555; font-weight:bold;">
            SIGN IN
        </a>
        <a href="#/app/register" class="button button-dark" style="height:50px; margin:5px; padding:10px; border-radius:5px; border:1px solid #555; font-weight:bold;">
            REGISTER
        </a>
      </div>
      <div class="padding" style="display:block; text-align:center;">
        <a menu-close href="#/app/book/location" style="color:#FFF;">Continue as Guest</a>
      </div>
    </div>
  </ion-footer-bar>
</ion-view>
